Repository git-in-official/server, pull requests merged in 2024-08, with the labels that each got.

#14 nestia setup
  nestia.config.ts
  package.json
  tsconfig.json
Labels: docs :books:

#16 새로운 코드 컨벤션에 맞춰 리팩터링
  .eslintrc.js
  nestia.config.ts
  prisma/schema.prisma
  src/auth/auth.service.ts
  src/auth/dto/google-profile.ts
  src/auth/dto/index.ts
  src/auth/dto/jwt-payload.ts
  src/auth/dto/request/index.ts
  src/auth/dto/request/login.dto.ts
  src/auth/dto/request/signup.dto.ts
  src/auth/dto/response/index.ts
  src/auth/dto/response/jwt.dto.ts
  src/auth/strategies/jwt.strategy.ts
  src/aws/aws.service.ts
  src/emotion/dto/response/emotion.dto.ts
  src/emotion/dto/response/index.ts
  src/emotion/emotion.controller.ts
  src/emotion/emotion.service.ts
  src/inspiration/dto/response/index.ts
  src/inspiration/dto/response/title.dto.ts
  src/inspiration/dto/response/word.dto.ts
  src/inspiration/inspiration.controller.ts
  src/poem/dto/request/analyze-poem.dto.ts
  src/poem/dto/request/create-poem.dto.ts
  src/poem/dto/request/index.ts
  src/poem/dto/request/update-tag.dto.ts
  src/poem/dto/response/content.dto.ts
  src/poem/dto/response/index.ts
  src/poem/dto/response/new-poem.dto.ts
  src/poem/dto/response/tags.dto.ts
  src/poem/llm.service.ts
  src/poem/poem.controller.ts
  src/poem/poem.module.ts
  src/poem/poem.prisma.repository.ts
  src/poem/poem.repository.ts
  src/poem/poem.service.ts
  src/types/index.ts
  src/user/user.module.ts
  src/user/user.prisma.repository.ts
  src/user/user.repository.ts
  src/user/user.service.ts
Labels: refactor :recycle:

#18 schema 정의
  prisma/schema.prisma
  src/user/user.prisma.repository.ts
Labels: feat :sparkles:

#31 시 스크랩 기능 구현
  package.json
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/requests/index.ts
  src/common/decorators/current-user.decorator.ts
  src/common/decorators/index.ts
  src/inspiration/inspiration.controller.ts
  src/poem/poem.controller.ts
  src/poem/poem.module.ts
  src/poem/poem.prisma.repository.ts
  src/poem/poem.service.ts
  src/poem/scrap.prisma.repository.ts
  src/poem/scrap.repository.ts
  test/app.e2e-spec.ts
  test/e2e/poem.e2e-spec.ts
Labels: feat :sparkles:

#21 테마와 상호작용 태그 목록 반환 api
  src/app.module.ts
  src/tag/dto/response/index.ts
  src/tag/dto/response/tags.dto.ts
  src/tag/tag.controller.ts
  src/tag/tag.module.ts
  src/tag/tag.service.ts
  src/tag/tags.ts
Labels: feat :sparkles:

#24 GET /emotions e2e테스트
  test/e2e/emotion.e2e-spec.ts
Labels: test :white_check_mark:

#33 AuthAPI E2E Test 작성
  .gitignore
  src/app.module.ts
  src/common/pipes/pipes.module.ts
  src/main.ts
  test/e2e/auth.e2e-spec.ts
  test/e2e/poem.e2e-spec.ts
Labels: test :white_check_mark:

#38 POST /poems/analyze - 시 태그 분석 E2E 테스트
  .gitignore
  src/constants/emotions.ts
  src/constants/tags.ts
  src/emotion/emotion.service.ts
  src/tag/tag.service.ts
  test/e2e/poem.e2e-spec.ts
Labels: test :white_check_mark:

#35 Tag Api E2E Test 작성
  test/e2e/tag.e2e-spec.ts
Labels: test :white_check_mark:

#40 PATCH /poems/tag - 시 태그 변경 E2E 테스트
  src/poem/dto/request/update-tag.dto.ts
  test/e2e/poem.e2e-spec.ts
Labels: test :white_check_mark:

#48 업적 조회 기능 구현
  prisma/schema.prisma
  src/achievement/achievement.controller.ts
  src/achievement/achievement.module.ts
  src/achievement/achievement.prisma.repository.ts
  src/achievement/achievement.repository.ts
  src/achievement/achievement.service.ts
  src/achievement/dto/response/achievements.dto.ts
  src/achievement/dto/response/index.ts
  src/achievement/types.ts
  src/app.module.ts
  test/e2e/achievement.e2e-spec.ts
  test/e2e/auth.e2e-spec.ts
  test/e2e/helpers/index.ts
  test/e2e/helpers/login.ts
  test/e2e/poem.e2e-spec.ts
Labels: feat :sparkles:

#46 제목 글감 받기 기능 구현
  Dockerfile
  package.json
  prisma/schema.prisma
  prisma/seed.ts
  src/inspiration/inspiration.controller.ts
  src/inspiration/inspiration.module.ts
  src/inspiration/inspiration.prisma.repository.ts
  src/inspiration/inspiration.repository.ts
  src/inspiration/inspiration.service.ts
  test/e2e/inspiration.e2e-spec.ts
  tsconfig.build.json
Labels: feat :sparkles:

#47 단어글감받기 구현
  prisma/schema.prisma
  prisma/seed.ts
  src/inspiration/inspiration.controller.ts
  src/inspiration/inspiration.prisma.repository.ts
  src/inspiration/inspiration.repository.ts
  src/inspiration/inspiration.service.ts
  test/e2e/inspiration.e2e-spec.ts
Labels: feat :sparkles:

#51 글감 테이블 통합
  prisma/schema.prisma
  prisma/seed.ts
  src/inspiration/dto/response/title.dto.ts
  src/inspiration/dto/response/word.dto.ts
  src/inspiration/inspiration.prisma.repository.ts
  src/inspiration/inspiration.repository.ts
  src/inspiration/inspiration.service.ts
  test/e2e/inspiration.e2e-spec.ts
Labels: feat :sparkles:

#49 시를 쓸 수 있는지 확인하는 api
  src/poem/poem.controller.ts
  src/poem/poem.prisma.repository.ts
  src/poem/poem.repository.ts
  src/poem/poem.service.ts
  test/e2e/poem.e2e-spec.ts
Labels: feat :sparkles:

#52 관리자용 글감 업로드 기능
  prisma/schema.prisma
  src/admin/admin.controller.ts
  src/admin/admin.module.ts
  src/admin/dto/request/index.ts
  src/admin/dto/request/upload-inspiration.dto.ts
  src/app.module.ts
  src/aws/aws.service.ts
  src/inspiration/inspiration.module.ts
  src/inspiration/inspiration.prisma.repository.ts
  src/inspiration/inspiration.repository.ts
  src/inspiration/inspiration.service.ts
  src/poem/poem.service.ts
  test/e2e/admin.e2e-spec.ts
Labels: test :white_check_mark:, feat :sparkles:

#53 탈고 api에 글감 id 필드 추가
  prisma/schema.prisma
  src/poem/dto/request/create-poem.dto.ts
  src/poem/dto/response/new-poem.dto.ts
  src/poem/poem.prisma.repository.ts
  src/poem/poem.repository.ts
  src/poem/poem.service.ts
  test/e2e/poem.e2e-spec.ts
Labels: test :white_check_mark:, feat :sparkles:

#56 로그인 및 회원가입 api에서 response에 필명 필드 추가
  src/auth/auth.service.ts
  src/auth/dto/response/jwt.dto.ts
  test/e2e/auth.e2e-spec.ts
Labels: test :white_check_mark:, feat :sparkles:

#54 관리자용 - 교정중인 시 목록조회, 교정중인 시 내용 조회, 출판 기능
  src/admin/admin.controller.ts
  src/admin/admin.module.ts
  src/admin/dto/request/upload-inspiration.dto.ts
  src/admin/dto/response/index.ts
  src/admin/dto/response/proofreading-poem-list.dto.ts
  src/admin/dto/response/proofreading-poem.dto.ts
  src/constants/inspiration-type.ts
  src/poem/poem.module.ts
  src/poem/poem.prisma.repository.ts
  src/poem/poem.repository.ts
  src/poem/poem.service.ts
  test/e2e/admin.e2e-spec.ts
Labels: test :white_check_mark:, feat :sparkles:

#58 업적 관련 api 문서 수정
  src/achievement/achievement.controller.ts
  test/e2e/achievement.e2e-spec.ts
Labels: docs :books:

#61 프로필 정보 조회 기능 구현
  prisma/schema.prisma
  src/poem/scrap.prisma.repository.ts
  src/poem/scrap.repository.ts
  src/user/dto/response/profile.ts
  src/user/user.controller.ts
  src/user/user.module.ts
  src/user/user.prisma.repository.ts
  src/user/user.repository.ts
  src/user/user.service.ts
  test/e2e/helpers/generate-create-data.ts
  test/e2e/helpers/index.ts
  test/e2e/user.e2e-spec.ts
Labels: test :white_check_mark:, feat :sparkles:

#59 오디오/비디오 글감받기 기능
  src/inspiration/dto/response/audio.dto.ts
  src/inspiration/dto/response/index.ts
  src/inspiration/dto/response/video.dto.ts
  src/inspiration/inspiration.controller.ts
  src/inspiration/inspiration.prisma.repository.ts
  src/inspiration/inspiration.repository.ts
  src/inspiration/inspiration.service.ts
  test/e2e/inspiration.e2e-spec.ts
Labels: test :white_check_mark:, feat :sparkles:

#60 GET /poems?emotion&index - 감정 알고리즘에 맞춰 시를 3개씩 반환하는 api
  src/constants/emotions.ts
  src/constants/tags.ts
  src/poem/dto/request/get-poems.dto.ts
  src/poem/dto/request/index.ts
  src/poem/dto/response/index.ts
  src/poem/dto/response/poem.dto.ts
  src/poem/poem.controller.ts
  src/poem/poem.module.ts
  src/poem/poem.prisma.repository.ts
  src/poem/poem.repository.ts
  src/poem/poem.service.ts
  src/tag/tag.module.ts
  src/tag/tag.service.ts
  test/e2e/poem.e2e-spec.ts
Labels: test :white_check_mark:, feat :sparkles:

#69 글감 전체 리스트 조회
  src/admin/admin.controller.ts
  src/admin/dto/request/get-inspirations.dto.ts
  src/admin/dto/request/index.ts
  src/admin/dto/response/audio-inspiration.dto.ts
  src/admin/dto/response/index.ts
  src/admin/dto/response/proofreading-poem.dto.ts
  src/admin/dto/response/title-inspiration.dto.ts
  src/admin/dto/response/video-inspiration.dto.ts
  src/admin/dto/response/word-inspiration.dto.ts
  src/inspiration/inspiration.service.ts
  src/poem/poem.prisma.repository.ts
  src/poem/poem.service.ts
  test/e2e/admin.e2e-spec.ts
Labels: test :white_check_mark:, feat :sparkles:

#70 회원 정보 수정 기능 구현
  src/achievement/achievement.controller.ts
  src/achievement/achievement.module.ts
  src/achievement/achievement.service.ts
  src/user/dto/request/index.ts
  src/user/dto/request/update-user.dto.ts
  src/user/dto/response/index.ts
  src/user/user.controller.ts
  src/user/user.prisma.repository.ts
  src/user/user.repository.ts
  src/user/user.service.ts
  test/e2e/user.e2e-spec.ts
Labels: test :white_check_mark:, feat :sparkles:

#74 로깅 인터셉터 구현
  src/app.module.ts
  src/common/intercetors/interceptors.module.ts
  src/common/intercetors/logging.interceptor.ts
Labels: feat :sparkles:

#73 [관리자] 교정중인 시 리스트 전체 조회
  src/admin/admin.controller.ts
  src/admin/dto/response/audio-inspiration.dto.ts
  src/admin/dto/response/index.ts
  src/admin/dto/response/proofreading-poem-detail.dto.ts
  src/admin/dto/response/proofreading-poem-list.dto.ts
  src/admin/dto/response/proofreading-poem.dto.ts
  src/admin/dto/response/title-inspiration.dto.ts
  src/admin/dto/response/video-inspiration.dto.ts
  src/admin/dto/response/word-inspiration.dto.ts
  src/inspiration/inspiration.prisma.repository.ts
  src/inspiration/inspiration.repository.ts
  src/inspiration/inspiration.service.ts
  src/poem/poem.prisma.repository.ts
  src/poem/poem.repository.ts
  src/poem/poem.service.ts
  test/e2e/admin.e2e-spec.ts
Labels: test :white_check_mark:, feat :sparkles:

#77 업적 정보 seeding
  prisma/schema.prisma
  prisma/seed.ts
  test/e2e/admin.e2e-spec.ts
Labels: feat :sparkles:

#79 [업적] 들쑥날쑥, 매일 그대와
  prisma/schema.prisma
  src/achievement/achievement.module.ts
  src/achievement/achievement.prisma.repository.ts
  src/achievement/achievement.repository.ts
  src/emotion/dto/request/emotion-select.dto.ts
  src/emotion/dto/request/index.ts
  src/emotion/emotion.controller.ts
  src/emotion/emotion.module.ts
  src/emotion/emotion.prisma.repository.ts
  src/emotion/emotion.repository.ts
  src/emotion/emotion.service.ts
  src/user/user.prisma.repository.ts
  src/user/user.repository.ts
  test/e2e/emotion.e2e-spec.ts
Labels: test :white_check_mark:, feat :sparkles:

#84 Feat/implement achievement
  prisma/schema.prisma
  src/poem/poem.prisma.repository.ts
  src/poem/poem.repository.ts
  src/poem/poem.service.ts
  test/e2e/poem.e2e-spec.ts
Labels: feat :sparkles:

#85 [임시] Poem seeding
  prisma/poem.seed.ts
Labels: feat :sparkles:

#86 열 번 찍어 넘어간 나무 업적 획득 기능 구현
  src/poem/poem.prisma.repository.ts
  src/poem/poem.repository.ts
  src/poem/poem.service.ts
  src/poem/scrap.prisma.repository.ts
  src/poem/scrap.repository.ts
  test/e2e/helpers/generate-create-data.ts
  test/e2e/poem.e2e-spec.ts
Labels: test :white_check_mark:, feat :sparkles:

#90 대표 업적 변경 기능 구현
  src/poem/poem.controller.ts
  src/user/user.controller.ts
  src/user/user.prisma.repository.ts
  src/user/user.repository.ts
  src/user/user.service.ts
  test/e2e/user.e2e-spec.ts
Labels: test :white_check_mark:, feat :sparkles:

#92 시 탈고 api 수정
  src/poem/dto/response/index.ts
  src/poem/dto/response/new-poem.dto.ts
  src/poem/poem.controller.ts
  src/poem/poem.prisma.repository.ts
  src/poem/poem.repository.ts
  src/poem/poem.service.ts
  test/e2e/poem.e2e-spec.ts
Labels: refactor :recycle:, test :white_check_mark:, feat :sparkles:
